@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ACT";
  src: local("ACT"),
    url(/fonts/AlphabetizedCassetteTapes.ttf) format("truetype");
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi"), url(/fonts/Satoshi-Variable.ttf) format("truetype");
}

body {
  font-family: Satoshi;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f4f7;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #101828;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #101828b9;
}

.noscroll::-webkit-scrollbar {
  display: none;
}

img {
  user-drag: none;
  user-select: none;
  pointer-events: none;
}
